@use "./_constants.scss" as constants;

:root {
  --primary-color: #{constants.$primary-color};
  --error-color: #{constants.$error-color};
}

.primaryColor {
  color: var(--primary-color) !important;
}
.errorColor {
  color: var(--error-color) !important;
}
