@import "./_constants.scss";
.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: auto;
}
.footerFixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 16px 0;
  height: $footer-height;
  background: #fff;
  border-top: 1px solid #eee;
  z-index: 100;
}
